<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="javascript:void" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="datalist,lookup,ajax,mvc5" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Datalist controls for ASP.NET MVC projects.">
    <title>@ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    @Styles.Render("~/content/page/bundle")
</head>
<body class="container-fluid">
    @Html.Partial("MvcDatalist/_Dialog")
    <div class="row">
        <div class="sidebar col-xl-2">
            <div class="logo">
                <a href="https://github.com/NonFactors/MVC5.Datalist">
                    <span class="fa fa-github">
                        <span class="version">v@(typeof(MvcDatalist).Assembly.GetName().Version)</span>
                    </span>
                </a>
            </div>
            <input id="SearchInput" class="sidebar-search" placeholder="Search...">
            <ul>
                <li>
                    @Html.ActionLink("Quick start", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Installation", "Installation", "Home")
                </li>
            </ul>
            <ul>
                <li>
                    @Html.ActionLink("Datalist source url", "SourceUrl", "Datalist")
                </li>
                <li>
                    @Html.ActionLink("Datalist dialog title", "Title", "Datalist")
                </li>
                <li>
                    @Html.ActionLink("Datalist localization", "Localization", "Datalist")
                </li>
                <li>
                    @Html.ActionLink("Datalist hidden data", "HiddenData", "Datalist")
                </li>
                <li>
                    @Html.ActionLink("Datalist additional filters", "AdditionalFilters", "Datalist")
                </li>
                <li>
                    @Html.ActionLink("Datalist initial sort options", "SortOptions", "Datalist")
                </li>
                <li>
                    @Html.ActionLink("Datalist initial paging options", "PagingOptions", "Datalist")
                </li>
            </ul>
            <ul>
                <li>
                    @Html.ActionLink("Datalist id", "Id", "Datalist")
                </li>
                <li>
                    @Html.ActionLink("Datalist label", "Label", "Datalist")
                </li>
            </ul>
            <ul>
                <li>
                    @Html.ActionLink("Datalist column position", "Position", "Column")
                </li>
                <li>
                    @Html.ActionLink("Datalist column css class", "CssClass", "Column")
                </li>
                <li>
                    @Html.ActionLink("Datalist column header title", "Header", "Column")
                </li>
            </ul>
            <ul>
                <li>
                    @Html.ActionLink("Datalist reload", "Reload", "Javascript")
                </li>
                <li>
                    @Html.ActionLink("Datalist browse", "Browse", "Javascript")
                </li>
                <li>
                    @Html.ActionLink("Datalist readonly", "Readonly", "Javascript")
                </li>
                <li>
                    @Html.ActionLink("Datalist loading first row", "SelectFirst", "Javascript")
                </li>
                <li>
                    @Html.ActionLink("Datalist loading single row", "SelectSingle", "Javascript")
                </li>
            </ul>
            <ul>
                <li>
                    @Html.ActionLink("Binding select event", "Select", "Javascript")
                </li>
                <li>
                    @Html.ActionLink("Binding filter change event", "FilterChange", "Javascript")
                </li>
            </ul>
            <ul>
                <li>
                    @Html.ActionLink("Datalist javascript API", "Api", "Javascript")
                </li>
            </ul>
        </div>
        <div class="col">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/scripts/page/bundle")
    @RenderSection("scripts", false)
</body>
</html>
