<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/JQueryUI/Theme/Bundle")
    @Styles.Render("~/Content/Bootstrap/Bundle")
    @Styles.Render("~/Content/Datalist/Bundle")
    @Styles.Render("~/Content/QUnit/Bundle")
    @Styles.Render("~/Content/Shared/Bundle")
</head>

<body>
    <a href="https://github.com/NonFactors/MVC.Datalist">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1040;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Datalist</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li><a href="/Datalist/Installation">Installation</a></li>
                    <li><a href="/Datalist/Examples">Examples</a></li>
                    <li><a href="/Datalist/API">API</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        @Html.Partial("_Datalist")
    </div>
    @Scripts.Render("~/Scripts/JQuery/Bundle")
    @Scripts.Render("~/Scripts/JQueryUI/Bundle")
    @Scripts.Render("~/Scripts/Datalist/Bundle")
    @if (ViewContext.RouteData.Values["controller"].ToString() == "Datalist" && ViewContext.RouteData.Values["action"].ToString() == "Tests")
    {
        @Scripts.Render("~/Scripts/QUnit/Bundle")
        <script src="/Scripts/Datalist/tests.js"></script>
    }

    @RenderSection("scripts", false)
</body>
</html>